<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>new</title>
</head>
<body>

<p>
    СПИСОК ГРУПП
</p>

<div th:each="group : ${groups}">
    <a th:href="@{http://localhost:8080/group/} + @{${group.id}}" th:utext="${group.faculty} + '-' + ${group.groupNumber}"></a>
</div>

<p>
    <a href="http://localhost:8080/group/new">Создать новую группу</a>
</p>
<p>
    <a href="http://localhost:8080/student">Студенты</a>
</p>

</body>
</html>