<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>new</title>
</head>
<body>

<form th:method="POST" th:action="@{/group}" th:object="${group}">

    <label>Номер группы:
        <input type="number" th:field="*{groupNumber}" />
    </label>

    <br />

    <label>Факультет:
        <input type="text" th:field="*{faculty}" />
    </label>

    <br />
    <br />

    <input type="submit" value="Создать группу!">
</form>

<p>
    <a href="http://localhost:8080/group">Назад</a>
</p>

</body>
</html>