<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>new</title>
</head>
<body>

<form th:method="POST" th:action="@{/student}" th:object="${student}" enctype="multipart/form-data">

    <table>
        <tr>
            <td>ФИО студента:</td><td><input type="text" th:field="*{fullName}" /></td>
        </tr>
        <tr>
            <td>Дата зачисления:</td><td><input type="date" th:field="*{dateOfAdmission}" /></td>
        </tr>
        <tr>
            <td>ФАКУЛЬТЕТ-ГРУППА:</td>
            <td>
                <select th:object="${groupId}" th:field="*{groupId}">
                    <option th:each="group : ${groups}" th:value="${group.id}"
                            th:utext="${group.faculty} + '-' + ${group.groupNumber}"></option>
                </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Создать студента!" />
</form>

<p>
    <a href="http://localhost:8080/student">Назад</a>
</p>

</body>
</html>